.pl {
    padding: 0 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border-top: 20px double #555D52;
}

.pl-texts {
    width: 65%;
}

.p-title {
    font-size: 50px;
    font-weight: 600;
}

.pl-desc {
    margin: 20px 0;
}

.pl-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-img {
    height: 100%;
    width: 50%;
    border-radius: 25px;
}

.p-img:hover {
    opacity: 0.8 !important;
}

@media screen and (max-width: 1020px) {
    .p-img {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    .pl {
        padding: 10px;
    }

    .pl-texts {
        width: 100%;
    }

    .pl-desc {
        display: none;
    }

    .pl-list {
        flex-direction: column;
    }
    .p-item {
        width: 45.5%;
        margin: 0 0 20px 0;
    }
}

@media screen and (max-width: 480px) {
    .pl {
        padding: 10px;
    }

    .pl-texts {
        width: 100%;
    }

    .pl-desc {
        display: none;
    }

    .pl-list {
        flex-direction: column;
    }
    .p-item {
        width: 70%;
        margin: 0 0 20px 0;
    }
}