.i {
    display: flex;
    height: 100vh;
}

.i-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.i-left-wrapper {
    padding: 50px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.i-intro {
    font-size: 30px;
    font-weight: 300;
}

.i-name {
    font-size: 60px;
    font-weight: 400;
}

.i-title {
    height: 50px;
    overflow: hidden;
}

.i-title-wrapper {
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
    33.3% {
        transform: translateY(-50px);
    }
    66.7% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(-150px);
    }
}

.i-title-item {
    height: 50px;
    font-size: 30px;
    font-weight: 300;
    color: #555D52;
    display: flex;
    align-items: center;
}

.i-scroll {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 20px;
}

.i-desc {
    font-size: 25px;
    font-weight: 300;
}

.i-right {
    flex: 1;
    position: relative;
}

.i-bg {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 58% 54%);
    background-image: url(../../img/mountain-pic.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.i-img {
    max-width: 85%;
    height: 40%;
    position: absolute;
    top: 27%;
    right: 25%;
}

@media screen and (max-width: 768px) {
    .i {
        flex-direction: column;
    }

    .i-left-wrapper {
        padding: 10px;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 100%;
    }

    .i-desc {
        display: none;
    }
    .i-img {
        height: 30vh;
        width: 42.5vw;
        right: 28.5%;
    }
}

@media screen and (max-width: 480px) {
    .i {
        flex-direction: column;
    }

    .i-left-wrapper {
        padding: 10px;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 100%;
    }

    .i-desc {
        display: none;
    }
    .i-img {
        height: 25vh;
        width: 50vw;
        left: 25%;
        bottom: 5%;
    }
}
